# Required software

# tensorflow -- installed via setup.sh
# torch -- installed via setup.sh
# rootpy -- installed via setup.sh

matplotlib
numpy
torch==1.12.1
torch-geometric==2.2.0
torch-scatter==2.1.0
torch-sparse==0.6.16